form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    padding: 30px 80px;
    margin: 0px auto;
    gap: 40px;

}

label
{
    color: #f3f3f3;

}

button
{
    padding: 10px 15px;
    border: none;
    font-size: 1rem;
    color: #001100;
    background: linear-gradient(#22dd22, #006600);
    border-radius: 2px;

}

button:hover
{
    cursor: pointer;

}
