.principal
{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1400px;
    padding: 20px 80px;
    margin: 0px auto;
    background: #131313;

}

.principal-titulo
{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;

}

.principal-titulo h1
{
    
    font-size: 3rem;
    font-weight: bold;
    color: #f3f3f3;

}

form
{
    display: grid;
    justify-content: center;

}

.principal-formulario
{
    display: grid;
    grid-template-columns: 1fr;
    width: 600px;
    padding: 30px;
    margin: 30px 0px;
    justify-items: center;
    gap: 30px;
    background: #181818;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);

}

.principal-formulario div
{
    display: grid;
    gap: 5px;

}

.principal-formulario label
{
    font-size: 1.2rem;
    color: #f3f3f3;

}

.principal-formulario input
{
    width: 530px;
    height: 24px;
    padding: 2px 5px;
    border: none;
    background: #f3f3f3;
    border-radius: 2px;

}

.principal-formulario select
{
    width: 540px;
    height: 28px;
    padding: 2px 5px;
    border: none;
    background: #f3f3f3;
    border-radius: 2px;

}

.principal-formulario button
{
    display: inline-block;
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
    font-size: 1rem;
    color: #001100;
    background: linear-gradient(#22dd22, #006600);
    border-radius: 2px;

}

.principal-formulario button:hover
{
    cursor: pointer;

}

.principal-formulario .formulario-duplo
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    gap: 20px;

}

.formulario-duplo input
{
    width: 250px;

}
