*
{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

a
{
    text-decoration: none;

}

ul
{
    list-style: none;

}

img
{
    display: block;
    max-width: 100%;
    
}

h2, dt, dd
{
    color: #e7e7e7;

}

body
{
    background: #222222;

}
