.principal
{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1400px;
    padding: 20px 80px;
    margin: 0px auto;
    background: #131313;

}

.principal-titulo
{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;

}

.principal-titulo h1
{
    
    font-size: 3rem;
    font-weight: bold;
    color: #f3f3f3;

}

.principal-titulo a
{
    padding: 10px 15px;
    font-size: 1rem;
    color: #001100;
    background: linear-gradient(#22dd22, #006600);
    border-radius: 2px;

}

.principal h2
{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 2rem;

}

.lista-registro
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8px;
    border-bottom: 1px solid #646464;

}

.lista-dados dt
{
    display: flex;
    gap: 10px;
    font-weight: bold;

}

.lista-dados dd
{
    padding-left: 10px;
    margin-top: 5px;

}

.lista-botoes
{
    display: flex;
    gap: 10px;

}

.lista-botoes a
{
    display: inline-block;
    padding: 10px 15px;
    font-size: 1rem;
    color: #001100;
    background: linear-gradient(#22dd22, #006600);
    border-radius: 2px;

}
